<% provide(:title, "Admin") %>
<p id="notice"><%= notice %></p>

<h1>Admin Section</h1>

<p>
    <%= link_to 'New Order', new_order_path, :class=>"button", :role=>"button"%>
    <%= link_to 'All Users', '/allusers', :class=>"button", :role=>"button" %>
    <%= link_to 'All Orders', '/adminorders', :class=>"button", :role=>"button" %>
</p>
<p>
<%= link_to 'New Meal', new_meal_path, :class=>"button", :role=>"button" %>
<%= link_to 'New Category', new_category_path, :class=>"button", :role=>"button" %>
<%= link_to 'New Meal Size', new_size_path, :class=>"button", :role=>"button" %>
</p>

<h2>Recent Orders</h2>

<table>
  <thead>
    <tr>
      <th>Order date</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.limit(20).order(:created_at).each do |order| %>
      <tr>
        <td><%= order.order_date %></td>
        <td><%= order.user %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
