<% provide(:title, "All Users") %>
    <div>
    <h1>Hello, here are all the users</h1>
        <table>
            <tr>
                <td>User Id</td>
                <td>Email</td>
                <td>Role</td>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.admin %></td>
                        <!-- put in jquery 'Are you Sure?' -->
                    <td><a href="/upgrade/<%= user.id %>"class="button">Make <%= user.email %> Admin</a></td>
                    <td><a href="/downgrade/<%= user.id %>"class="button">Remove <%= user.email %> as Admin</a></td>
              
                </tr>
            <% end %>
        </table>
    </div>
