<% provide(:title, "Home") %>

<div class="mainCont">

<% if user_signed_in? %>
    <%= render 'meals/mymeals' %>
<% end %>
<br>
<%= render 'layouts/newproducts' %>
<br>
<%= render 'layouts/about' %>
<br>
<%= render 'layouts/categories' %>
<br>
<%= render 'layouts/popular' %>
<br>
<%= render 'layouts/contact' %>
</div>
