<% provide(:title, "Profile Page") %>
<div>
    <h1>Your Profile</h1>
    
    <p><%= link_to 'Edit Login Details', edit_user_registration_path, :class=>"button", :role=>"button" %></p>
    <p><%= link_to "View Orders", orders_path , :class=>"button", :role=>"button" %></p>
    

    
    
<h3>Name</h3>
<p><%= @user.name %> <button class="name-button">edit</button></p>
<div class="name-form" style="display:none">
    <%= form_tag("/deliveryname", :method => "post") do %>
        <div class="field">
            <%= text_field_tag(:q) %>
            <%= hidden_field_tag :id, @user.id %>
            <%= submit_tag("Update Name") %>
        </div>
    <% end %>
</div>

<h3>Address</h3
<p><%= @user.address %> <button class="address-button">edit</button></p>
<div class="address-form" style="display:none">
    <%= form_tag("/deliveryaddress", :method => "post") do %>
        <div class="field">
            <%= text_field_tag(:q) %>
            <%= hidden_field_tag :id, @user.id %>
            <%= submit_tag("Update Address") %>
        </div>
    <% end %>
</div>

<h3>Phone</h3>
<p><%= @user.phone %> <button class="phone-button">edit</button></p>
<div class="phone-form" style="display:none">
    <%= form_tag("/deliveryphone", :method => "post") do %>
        <div class="field">
            <%= text_field_tag(:q) %>
            <%= hidden_field_tag :id, @user.id %>
            <%= submit_tag("Update Phone") %>
        </div>
    <% end %>
</div>        
            
    <h2>Preferences</h2>
    
        <% if @user.prefs.blank? %>
        
        <%else%>
            <p>You prefer <%= @user.prefs %> dishes <a href="/prefclear/<%= @user.id %>">Clear</a></p>
        <% end %>
        
    <p>
        <a href="/prefmeat/<%= @user.id %>"class="button">Meat</a>
        <a href="/prefvegetarian/<%= @user.id %>"class="button">Vegetarian</a>
        <a href="/prefvegan/<%= @user.id %>"class="button">Vegan</a>
        
    </p>
    
        
    <h2>Allergens</h2>
    
        <% if @user.allergen.blank? %>
        
        <%else%>
         <p>You cannot have <%= @user.allergen %> in your meals <a href="/allergenclear/<%= @user.id %>">Clear</a></p>
        <% end %>
    <p>
        <a href="/allergenwheat/<%= @user.id %>"class="button">Wheat</a>
        <a href="/allergennut/<%= @user.id %>"class="button">Nuts</a>
        <a href="/allergenegg/<%= @user.id %>"class="button">Eggs</a>
    </p>

</div>