<% provide(:title, "Profile Page") %>
<div>
    <h1>Your Profile</h1>
    
    <p><%= link_to 'Edit Login Details', edit_user_registration_path, :class=>"button", :role=>"button" %></p>
    <p><%= link_to "View Orders", orders_path , :class=>"button", :role=>"button" %></p>
    
    <!--<#%= render 'form', user: @user %>-->
    
        <table>
            <tr>
                <td>Name</td>
                <td>Address</td>
                <td>Phone</td>
            </tr>
            <tr>
                <td><%= @user.name %></td>
                <td><%= @user.address %></td>
                <td><%= @user.phone %></td>
            </tr>
        </table>
            
    <h2>Preferences</h2>
    
        <% if @user.prefs.blank? %>
        
        <%else%>
            <p>You prefer <%= @user.prefs %> dishes <a href="/prefclear/<%= @user.id %>">Clear</a></p>
        <% end %>
        
    <p>
        <a href="/prefmeat/<%= @user.id %>"class="button">Meat</a>
        <a href="/prefvegetarian/<%= @user.id %>"class="button">Vegetarian</a>
        <a href="/prefvegan/<%= @user.id %>"class="button">Vegan</a>
        
    </p>
    
        
    <h2>Allergens</h2>
    
        <% if @user.allergen.blank? %>
        
        <%else%>
         <p>You cannot have <%= @user.allergen %> in your meals <a href="/allergenclear/<%= @user.id %>">Clear</a></p>
        <% end %>
    <p>
        <a href="/allergenwheat/<%= @user.id %>"class="button">Wheat</a>
        <a href="/allergennut/<%= @user.id %>"class="button">Nuts</a>
        <a href="/allergenegg/<%= @user.id %>"class="button">Eggs</a>
    </p>

</div>