<% if @cart.empty? %>
<h1>Your cart is empty</h1>
<% end %>

<p id="notice"><%= notice %></p>

<div id="mealsContainer">
    <table id="customers">
        
        <tr>
            <th></th>
            <th>Meal</th>
            <th>Less / More</th>
            <th>Remove</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Item Total</th>
        </tr>
        <% total = 0 %> 
        <% @cart.each do |id, quantity| %>
        
        <% meal = Meal.find_by_id(id) %>
        <tr>
            <td>
                <div class="image">
                    <%= link_to (image_tag meal.image_url, :style =>"height:40px"), meal %>
                </div>
            </td>
            
            <td class="mealName"><%= link_to meal.mealName, meal %></td>
            <td><a class="button button_small" href="/cart/decrease/<%= meal.id %>">-</a><a class="button button_small" href="/cart/increase/<%= meal.id %>">+</a></td>
            <td><a class="button button_small" href="/cart/remove/<%= meal.id %>">Remove From Cart</a></td>
            <td class="price"><%= number_to_currency(meal.price, :unit =>"€") %></td>
            <td class = "quantity"><%= quantity %></td>
            <td class="price"><%= number_to_currency(quantity * meal.price, :unit =>"€") %></td>
            
        </tr>
        
        <tr>
            <% total += quantity * meal.price %>
            
            <% session[:cartTotal] = total %>
        <% end %>
        </tr>
        
        <tr>
            <td>Grand Total: <%= number_to_currency(total, :unit =>"€") %></td>
        </tr>
        
    </table>
    
    <p>
        <a href="/meals" class="button">Continue Shopping</a>
        <a href="/clearcart" class="button">Empty Cart</a>
        <a href="/checkout" class="button">Checkout</a>
    </p>
    

</div>