<div class="mealsContainer">

<!--BOTH POPULATED ********************** -->
    <% if current_user.prefs != nil && current_user.allergen != nil %>

        <% catName = current_user.prefs %>
        <% allergenName = current_user.allergen %>
        
        <h1>My Meals</h1>
        <% @mymeals = Meal.where("category like ?", catName).where.not("mealAllergens like ?", allergenName)%>
    
        <% @mymeals.each do |meal| %>
    
            <div class="mealhols">
            <h1><%= meal.mealName %></h1>
            <%= link_to (image_tag meal.image_url, :class => "mealsholsIm"), meal %>
            <p><%= meal.description %></p>  
            <p>Price <%= number_to_currency(meal.price, :unit => "€") %></p>
            <p>
                <%= link_to 'Show', meal, :class => "button", :role => "button" %>
                <a href="/cart/<%= meal.id %>" class="button">Add To Cart</a>
            </p>
            </div>
        <% end %>
        

<!--PREFS POPULATED ********************** -->
    <% elsif current_user.prefs != nil && current_user.allergen == nil %>
        <% catName = current_user.prefs %>

        <!--PREFS METHOD catName: <#%=catName%>-->
        <h1>My Meals</h1>
        <% @mymeals = Meal.where("category like ?", catName)%>
    
        <% @mymeals.each do |meal| %>
    
            <div class="mealhols">
            <h1><%= meal.mealName %></h1>
            <%= link_to (image_tag meal.image_url, :class => "mealsholsIm"), meal %>
            <p><%= meal.description %></p>  
            <p>Price <%= number_to_currency(meal.price, :unit => "€") %></p>
            <p>
                <%= link_to 'Show', meal, :class => "button", :role => "button" %>
                <a href="/cart/<%= meal.id %>" class="button">Add To Cart</a>
            </p>
            </div>
        <% end %>
<!--ALLERGENS POPULATED ********************** -->        
    <% else current_user.prefs == nil && current_user.allergen != nil %>
    
        <% allergenName = current_user.allergen %>
        <!--ALLERGY METHOD allergenName: <#%=allergenName%>-->
        
        <h1>My Meals</h1>
        <% @mymeals = Meal.where.not("mealAllergens like ?", allergenName)%>
    
        <% @mymeals.each do |meal| %>
    
            <div class="mealhols">
            <h1><%= meal.mealName %></h1>
            <%= link_to (image_tag meal.image_url, :class => "mealsholsIm"), meal %>
            <p><%= meal.description %></p>  
            <p>Price <%= number_to_currency(meal.price, :unit => "€") %></p>
            <p>
                <%= link_to 'Show', meal, :class => "button", :role => "button" %>
                <a href="/cart/<%= meal.id %>" class="button">Add To Cart</a>
            </p>
            </div>
        <% end %>
        
    <% end %>
</div>