<p id="notice"><%= notice %></p>


<div id="mealsContainer">
  
  <h1><%= @meal.mealName %></h1>

  <%= image_tag @meal.image_url, :class => "welcomeIm" %>
  
  <h2><%= @meal.description %></h2>
    
  <div class="mealhols">
  
    <h3>
      Category: <%= @meal.category %>
      <br>
      Allergens: <%= @meal.mealAllergens %>
    </h3>
  
<p>

  <% @price = @meal.price %>
  <p>
    Cook At Home: <%= number_to_currency(@price, :unit => "€") %>
    <a href="/cart/<%= @meal.id %>" class="button">Add To Cart</a>
  </p>
  
  <p>
    Oven ready: <%= number_to_currency(@price = @meal.price*1.3, :unit => "€") %>
    <a href="/cart/<%= @meal.id %>" class="button">Add To Cart</a>
  </p>
  
  <p>
    Batch cook: <%= number_to_currency(@price = @meal.price*5, :unit => "€") %>  
    <a href="/cart/<%= @meal.id %>" class="button">Add To Cart</a>
  </p>
  
  <h2>Selected option and price to be sent to cart, needs another model</h2>
</p>

    <p>
      <%= link_to 'Back', meals_path, :class => "button", :role => "button" %>
      <%= link_to 'Edit', edit_meal_path(@meal), :class => "button", :role => "button" %>
          <% if current_user.role == "Admin" || current_user.role == "Staff"  %>
            <a href= '/adminmeals', class= "button">Back to all Meals</a>
          <% end %>
    </p>
  
  </div>

</div>

