<h2>Popular this Week</h2>

    <!-- need to change this to highest number of orders -->
    <% @meals.limit(3).order(id: :desc).each do |meal| %>
    <!--@count = Orderitem.all.count-->
    <!--    @order = Order.limit(1).order(id: :desc).where(user: User.find(current_user.id))-->
    <!-- @orderitems = Orderitem.where(order_id: Order.limit(1).order(id: :desc).where(user: User.find(current_user.id)))-->
        <div class = "mealhols">
            <%= link_to (image_tag meal.image_url, :class=>"mealsholsIm"), meal %>
            
            <h2>
                <%= link_to meal.mealName, meal %>
            </h2>
            
            <!--<div class="description">-->
            <!--    <#%= meal.description %>-->
            <!--</div>-->
            
            <div class="price">
                <%= number_to_currency(meal.price, :unit => "€") %>
            </div>
            <div class="links">
                <% if session[:login] ==1 %>
                    <%= link_to 'Edit', edit_meal_path(meal) %>
                    <%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% else %>
                
                <a class="button" href="/cart/<%= meal.id %>">Add to Cart</a>

                <% end %>
            </div>
        </div>
    <% end %>
