<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | ShrewdFewd</title>
    <%= csrf_meta_tags %>
     

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
        <%= render '/layouts/header' %>

    <div class="container">
    <%= yield %>
    </div>

<footer class="foot">
  


</footer>

  </body>
</html>
