<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | ShrewdFewd</title>
    <%= csrf_meta_tags %>
     

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="ymeQZVwy"></script>
  
  </head>

  <body>
    
        <%= render '/layouts/header' %>
        
        <%= render '/layouts/search' %>

    <div class="container">
    <%= yield %>
    </div>

<footer class="foot">
<p>
<a href="https://twitter.com/Naomis_Kitchen?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Naomis_Kitchen</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<p>
  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
</p>

</footer>

  </body>
</html>
