<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | ShrewdFewd</title>
    <%= csrf_meta_tags %>
     

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
        <%= render '/layouts/header' %>

    <div class="container">
    <%= yield %>
    </div>

<footer class="foot">
  
<%= link_to 'New Category', new_category_path, :class=>"button", :role=>"button" %>
<%= link_to 'New Meal', new_meal_path, :class=>"button", :role=>"button" %>

</footer>

  </body>
</html>
